<article>
<div class="post-header">
  <h2><%= @post.title %></h2>
  <h4><a href="/user/<%= @post.user.id %>"><%= @post.user.name %></a> <small><%= date(@post.created_at) %></small> 

  </h4>
</div>

<div class="post-body">
  <p><%= post_body %></p>
</div>
</article>

<% @params = {commenter_id: @current_user.id, commentable_type: Post, commentable_id: @post.id, post_id: @post.id} %>
<%= partial :_post_form, :layout => false %>

<div id="comments">
  <% @post.comments.order("created_at ASC").each do |comment| %>
    <%= partial :_comment, :layout => false, :comment => comment  %>
  <% end %>
</div>
